In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

In [ ]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": " ",
"fs.azure.account.oauth2.client.secret": " ",
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/xxx/oauth2/token"}


dbutils.fs.mount(
source = "abfss://tokyo-olympic-dataset@tokyoprojectpriyank.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/tokyo-project-mount",
extra_configs = configs)

In [ ]:
%fs
ls "/mnt/tokyo-project-mount"

path,name,size,modificationTime
dbfs:/mnt/tokyo-project-mount/raw-data/,raw-data/,0,1704973015000
dbfs:/mnt/tokyo-project-mount/transformed-data/,transformed-data/,0,1704973030000

In [ ]:
athletes = spark.read.format("csv").option("header","true").load("/mnt/tokyo-project-mount/raw-data/athletes-raw.csv")
coaches = spark.read.format("csv").option("header","true").load("/mnt/tokyo-project-mount/raw-data/coaches-raw.csv")
gender = spark.read.format("csv").option("header","true").load("/mnt/tokyo-project-mount/raw-data/gender-raw.csv")
medals = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyo-project-mount/raw-data/medals-raw.csv")
teams = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyo-project-mount/raw-data/teams-raw.csv")

In [ ]:
gender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Total: string (nullable = true)

In [ ]:
#Number of males/females column in Gender file, should be Integer, but you can see in previous cell, they are parsed as string

gender_transformed = gender.withColumn("Female",col("Female").cast(IntegerType())).withColumn("Male",col("Male").cast(IntegerType())).withColumn("Total",col("Total").cast(IntegerType()))

In [ ]:
gender_transformed.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [ ]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [ ]:
#Find the country with the most gold medals

top_countries_with_gold_medal = medals.orderBy("Gold", ascending=False).select("Team_Country","Gold").show()

+--------------------+----+
|        Team_Country|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
|                Cuba|   7|
|         New Zealand|   7|
|              Brazil|   7|
|              Canada|   7|
|             Hungary|   6|
|   Republic of Korea|   6|
|               Kenya|   4|
|              Poland|   4|
|      Czech Republic|   4|
|              Norway|   4|
+--------------------+----+
only showing top 20 rows

In [ ]:
# Calculate the average number of entries by gender for each discipline
average_entries_by_gender = gender_transformed.withColumn(
    'Avg_Female', gender_transformed['Female'] / gender_transformed['Total']
).withColumn(
    'Avg_Male', gender_transformed['Male'] / gender_transformed['Total']
)
average_entries_by_gender.show()

+--------------------+------+----+-----+-------------------+-------------------+
|          Discipline|Female|Male|Total|         Avg_Female|           Avg_Male|
+--------------------+------+----+-----+-------------------+-------------------+
|      3x3 Basketball|    32|  32|   64|                0.5|                0.5|
|             Archery|    64|  64|  128|                0.5|                0.5|
| Artistic Gymnastics|    98|  98|  196|                0.5|                0.5|
|   Artistic Swimming|   105|   0|  105|                1.0|                0.0|
|           Athletics|   969|1072| 2041| 0.4747672709456149| 0.5252327290543851|
|           Badminton|    86|  87|  173|0.49710982658959535| 0.5028901734104047|
|   Baseball/Softball|    90| 144|  234|0.38461538461538464| 0.6153846153846154|
|          Basketball|   144| 144|  288|                0.5|                0.5|
|    Beach Volleyball|    48|  48|   96|                0.5|                0.5|
|              Boxing|   102| 187|  289|0.35294117647058826| 0.6470588235294118|
|        Canoe Slalom|    41|  41|   82|                0.5|                0.5|
|        Canoe Sprint|   123| 126|  249| 0.4939759036144578| 0.5060240963855421|
|Cycling BMX Frees...|    10|   9|   19| 0.5263157894736842|0.47368421052631576|
|  Cycling BMX Racing|    24|  24|   48|                0.5|                0.5|
|Cycling Mountain ...|    38|  38|   76|                0.5|                0.5|
|        Cycling Road|    70| 131|  201| 0.3482587064676617| 0.6517412935323383|
|       Cycling Track|    90|  99|  189|0.47619047619047616| 0.5238095238095238|
|              Diving|    72|  71|  143| 0.5034965034965035| 0.4965034965034965|
|          Equestrian|    73| 125|  198| 0.3686868686868687| 0.6313131313131313|
|             Fencing|   107| 108|  215|0.49767441860465117| 0.5023255813953489|
+--------------------+------+----+-----+-------------------+-------------------+
only showing top 20 rows

In [ ]:
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("mnt/tokyo-project-mount/transformed-data/athletes-new")
coaches.repartition(1).write.mode("overwrite").option("header",'true').csv("mnt/tokyo-project-mount/transformed-data/coaches-new")
gender_transformed.repartition(1).write.mode("overwrite").option("header",'true').csv("mnt/tokyo-project-mount/transformed-data/gender-new")
medals.repartition(1).write.mode("overwrite").option("header",'true').csv("mnt/tokyo-project-mount/transformed-data/medals-new")
teams.repartition(1).write.mode("overwrite").option("header",'true').csv("mnt/tokyo-project-mount/transformed-data/teams-new")